@import "../variables";

.about-section {
  background-color: $black;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5em 3em;
  font-size: 16px;
  min-height: 25rem;

  .title {
    font-weight: 500;
    color: $primary;
    text-align: center;

    span {
      color: $secondary;

      &.about {
        color: lighten($primary, 20%);
        position: relative;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          height: 3px;
          width: 80px;
          background-color: $secondary;
        }
      }
    }
  }

  .info-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    .info {
      &:not(:last-child) {
        margin-right: 25px;
      }

      p {
        color: $secondary;
        line-height: 34px;
        font-size: 18px;
        margin-top: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .img-wrapper {
        padding: 1rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 1px solid $secondary;
        display: inline;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
    }

    @media only screen and (max-width: 700px) {
      flex-direction: column;

      .info {
        margin: 0;

        &:not(:last-child) {
          margin-bottom: 35px;
        }
      }
    }
  }
}
