@import "../../components/variables.scss";

.img-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $primary;
  opacity: 0.85;
}

.contact {
  color: white;

  h1,
  label {
    color: white;
  }

  .form-container {
    background-color: lighten($primary, 20%);
    box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.75);
    padding: 4rem;

    button {
      background-color: $primary;

      &:hover {
        background-color: darken($primary, 5%);
      }
    }
  }

  .contact-header {
    height: 50vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .contact-bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      object-fit: cover;
      filter: blur(8px);
    }
  }
}
