@import "../variables";

.contact-section {
  display: flex;
  font-size: 16px;
  color: $white;

  .address-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;

    .info {
      display: flex;
      align-items: center;

      img {
        width: 1.5rem;
      }

      span {
        font-size: 16px;
        margin-left: 10%;
      }
    }
  }

  .address {
    height: 20rem;
    width: 50%;
    background-color: $secondary;
    padding: 1.5em 3em;
    display: flex;
    flex-direction: column;
  }

  .map {
    height: 20rem;
    width: 50%;
    background-color: $white;
  }

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    font-size: 14px;

    .address,
    .map {
      width: 100%;
    }
  }
}
